# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VC 6.0
*.exe
*.ilk
*.pch
*.pdb
*.obj
*.idb
*.pdb
*.dsp
*.dsw
*.opt
*.plg
*.ncb